<section class="border-2 border-cyan-700 rounded-sm px-15 py-30">
    <h1 class="text-4xl font-bold mt-5 mb-4" >Formulario Serie</h1>
    <h2 class="text-4xl font-light mb-4 w-full">Introduzca el número para el cálculo de la serie</h2>
    <div>
        <input
        class="border-2 rounded-sm border-cyan-900 w-full hover:border-cyan-500"
        type="number" 
        min="0" 
        #numberValue
        (keyup)="inputValue.set(toNumber(numberValue.value))">
    </div>
    <br>
    <button class="border-2 bg-cyan-700 rounded-sm text-white w-40 hover:border-cyan-900">Calcular</button>

    <app-calculation [numberValue]="inputValue()" (serieValue)="serieValue.set($event)"/>

    <app-result [serieValue]="serieValue()"/>
</section>

